:root {
  --background: #ffffff;
  --text: #282a36;
  --link: #0000ee;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171a1c;
    --text: #f8f8f2;
    --link: #8be9fd;
  }
}*/

table {
  border-collapse: separate;
  border-spacing: 5px 10px;
}

html {
  background-color: var(--background);
  color: var(--text);
}

body {
  height: 100% margin 0;
}

p {
  font-size: 19px;
}

.notification{
  height: 100rem;
}

.titles{
  /*color: var(--text);*/
}

.dates {
  /*color:  var(--link);*/
}

.fixed {
  position: fixed;
  /*top:0px;*/
  /*bottom:0px;*/
  /*left:0px;*/
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--text);
}


.themed {
  color: var(--text);
}

.spaced {
  padding: 2rem;
  margin-left: 3rem;
  margin-right: 8%;
  max-width: 90rem;
}

/* .5rem if not using tile color */
.view-css {
    padding-top: 2rem;
    padding-right: 10%;
}

.index {
  font-size: 19px;
}

/* syntax colors */
.comment {
  color: #6272a4;
}

.keyword {
  color: #8be9fd;
}

.int {
  color: #bd93f9;
}

.string {
  color: #f1fa8c;
}

.ident {
  color: black;
}

.symbol {
  color: #ff79c6;
}

pre {
  background-color: #282a36;
  color: #f8f8f2;
  border-radius: 10px;
}

code {
  color: black;
  font-weight: 600;
}
